.under_border{
  color: $secondary-color;
  border-bottom: 1px solid $secondary-color;
  padding-bottom: 5px;
  margin-bottom: 40px;
  font-family: $font-family-sans-UniversLTStd-BoldCn;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.grid-item{
  margin-bottom : 40px;
}

h1{
  @extend .under_border;
  margin-top: rem-calc(45);
  @media #{$medium-only}{
    margin-top: rem-calc(25);
  }
  @media #{$small-only}{
    margin-top: rem-calc(20);
  }
}

.event-row{
  // display: flex;
  // align-items: center;
  @media #{$medium-up}{
    display: flex;
    align-items: flex-start;
  }
  p{
    margin: 0;
    font-size: rem-calc(16);
    color : #000;
    font-family: $font-family-sans-UniversLTStd-Cn;
    a{
      color : #000;
    }
    &.event-type{
      font-size: rem-calc(14);
      text-transform: capitalize;
    }
    &.event_name{
      margin-top: rem-calc(15);
      font-size: rem-calc(18);
      font-family: $font-family-sans-UniversLTStd-BoldCn;
    }
    &.event_date{
      margin-bottom: rem-calc(15);
    }

  }
}
.block-clients{
  li{
    // width:150px;
    // height : 150px;
    // border-radius: 100px;
    // overflow: hidden;
  }
}

.top-align-section{
  margin-top: rem-calc(3);
}

.page-template-default{
  section.contents{
    border-bottom: 1px solid $secondary-color;
    padding-bottom: rem-calc(20);
    margin-bottom: rem-calc(30);
    &:last-child{
      border-bottom: 0;
    }
    h1,h2,h3,h4{
      font-family: $font-family-sans-UniversLTStd-BoldCn;
    }
    h2{
      font-size: rem-calc(18);
      font-weight: 800;
      color : #000;
    }
  }
}

.date{
  padding-bottom: 15px;
}

.main_content{
  @media #{$large-up}{
    padding-top : 50px;
    padding-bottom : 50px;
  }
  @media #{$medium-only}{
    padding-top : 65px;
    padding-bottom : 50px;
  }

  @media #{$small-only}{
    padding-top : 53px;
    padding-bottom : 50px;
  }

  .fa-map-marker{
    font-size: 23px;
  }
  .fa-mobile-phone{
    font-size: 30px;
  }
}

.right-off-canvas-menu{
  position: fixed;
  z-index:199;
  -webkit-transition: right 0.5s; /* Safari */
  transition: right 0.5s;
  // box-shadow: 29px 27px 28px #000;
  & > div{
    padding-top : 40px;
  }
}


// pagination css
.page_navigation , .alt_page_navigation{
	padding-bottom: 10px;
  text-align: right;
  @media #{$small-only}{
    text-align: center;
  }
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	// color:white;
	text-decoration:none;
	// float: left;
	font-family: $font-family-sans-UniversLTStd-LightCn;
	font-size: 12px;
	// background-color:$steel;
  color: #000;
  &.active_page{
    // background-color:$steel;
  	// color:white;
    // text-decoration:underline;
    font-family: $font-family-sans-UniversLTStd-BoldCn;
  }
}


.content, .alt_content{
	color: black;
}

.content li, .alt_content li, .content > p{
	padding: 5px
}
.first_link{
  display: none;
}
.last_link{
  display: none;
}
.ellipse{
  // display: none !important;
  color: transparent;
}
.no_more{
  background-color: lighten($steel, 25%) !important;
}
.previous_link{
  background-color: $steel;
  // font-size: 14px !important;
  color:white !important;
}
.next_link{
  background-color: $steel;
  // font-size: 14px !important;
  color:white !important;
}
