.single-jec-events {
  .featured-image {
    background-repeat: no-repeat;
    background-position: center;
    height: rem-calc(160);
    border-radius: rem-calc(200);
    width: rem-calc(160);
    position: relative;
    background-size: cover;
    float: left;
    margin: auto;
    // margin : rem-calc(0 10 10 0);
    @media #{$small-only}{
      margin: 0 auto 20px;
      float: none;
    }
  }
  .event-info{
    a{
      color : #000;
    }
    .event-type{
      // margin-top: rem-calc(15);
      // margin-bottom: rem-calc(15);
      font-size: rem-calc(14);
      text-transform: capitalize;
    }
    .event_name , .event-name, .event-title{
      margin-top: rem-calc(15);
      // margin-bottom: rem-calc(15);
      font-size: rem-calc(18);
      font-family: $font-family-sans-UniversLTStd-BoldCn;
    }
    .event_date , .event-date{
      // margin-top: rem-calc(15);
      margin-bottom: rem-calc(15);
      // font-size: rem-calc(18);
      // font-family: $font-family-sans-UniversLTStd-BoldCn;
    }

    .under_border{
      margin-bottom : 18px;
    }
  }
}
