@font-face {
  font-family: 'Univers LT 49 Light Ultra Condensed';
  src: url('../../fonts/Univers LT 49 Light Ultra Condensed.ttf');
}

@font-face {
  font-family: 'UniversLTStd-BoldCn';
  src: url('../../fonts/UniversLTStd-BoldCn.otf');
}

@font-face {
  font-family: 'UniversLTStd-Cn';
  src: url('../../fonts/UniversLTStd-Cn.otf');
}

@font-face {
  font-family: 'UniversLTStd-LightCn';
  src: url('../../fonts/UniversLTStd-LightCn.otf');
}

@font-face {
  font-family: 'UniversLTStd-UltraCn';
  src: url('../../fonts/UniversLTStd-UltraCn.otf');
}
