footer{
  background : $secondary-color;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  color: #fff;
  padding-top: 30px;
  ul{
    li{
      list-style: none;
      font-size: 12px;
      font-family: $font-family-sans-UniversLTStd-LightCn;
    }
  }
  .footer-bottom{
    background: $primary-color;
    padding: 10px 10px 20px;
    font-size: 12px;
    font-family: $font-family-sans-UniversLTStd-LightCn;
  }
  .footer-list{
    i{
      font-size: rem-calc(21);
      &.fa-mobile-phone{
        font-size: rem-calc(35);
      }
      &.fa-map-marker{
        font-size: xx-large;
      }
    }

    a{
      color : #fff !important;
    }
    p{
      // @media #{$small-only}{
        // font-size: rem-calc(14);
        font-size: 14px;
        font-family: $font-family-sans-UniversLTStd-LightCn;
        margin-bottom: 0;
      // }
    }
    @media #{$small-only}{
      margin: rem-calc(0 0 30 0);
    }
  }
  .space-bottom{
    @media #{$small-only}{
      img{
        margin-bottom: rem-calc(30);
      }
    }
  }

  .footer_logo{
    height : 95%;
  }


}
