header{

  background: $primary-color;
  // box-shadow: 0px 1px 2px #000;
  position: fixed;
  width: 100%;
  z-index: 200;
  @media #{$large-up}{
    margin-bottom: 3px;
  }
  .logo{
    img{
      margin: 10px 0;
      // height  : 47px;
      @media #{$medium-up}{
        // margin: 10px 0;
      }
      @media #{$small-only}{
        margin: 10px 0;
        // height : 35px;
        // max-height : 47px;
      }
    }
  }
  .header-nav{

    z-index: 999999;
    @media #{$small-only}{
      position: fixed;
      background: $primary-color;
      display : flex;
      justify-content: center;
      align-items: center;
    }
    @media #{$medium-only}{
      position: fixed;
      background: $primary-color;
      display : flex;
      justify-content: center;
      align-items: center;
    }
    .tab-bar{
      height: auto;
      line-height: 0;
      position: static;
      i{
        font-size: 23px;
        font-weight: 100;
        margin-top: 0;
      }

      .tab-bar .menu-icon span::after{
        top : 55%;
      }
    }
  }
}
