.main_content{
  background : $dark-smoke;
  // padding-bottom: 250px;
  padding-top: rem-calc(65);
  // text-align: justify;
  @media #{$large-up}{
    padding-top: 0;
  }
  // @media #{$medium-only}{
  //   position: fixed;
  // }
  .contents{
    text-align: justify;
  }
}
$khm-size : rem-calc(270);
$khm-size-m : rem-calc(220);
.featured-image{
  background-repeat: no-repeat;
  background-position: center;
  // background-color: $steel;
  height: $khm-size;
  border-radius: 200px;
  width: $khm-size;
  margin: auto;
  position : relative;
  @media #{$medium-only}{
    // height: $khm-size-m;
    // width: $khm-size-m;
  }
}
.reveal-modal {
  .featured-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: rem-calc(160);
    border-radius: 200px;
    width: rem-calc(160);
    position : relative;
    float: left;
    margin : rem-calc(0 10 10 0);
    @media #{$small-only}{

      // height: rem-calc(70);
      // width: rem-calc(70);
      float: none;
      margin: 0 auto 15px;
    }
  }
  @media #{$small-only}{
    min-height : 0 !important;
    height: auto !important;
    max-width : 90%;
    margin-left: 5%;
    margin-top : 25%;
    padding: rem-calc(15 10);
  }
  .close-reveal-modal{
    z-index: 333;
    font-size: rem-calc(16);
  }
}
.event-info{
  a{
    // color : #000;
  }
  .event-type{
    // margin-top: rem-calc(15);
    // margin-bottom: rem-calc(15);
    font-size: rem-calc(14);
    text-transform: capitalize;
  }
  .event_name{
    margin-top: rem-calc(15);
    // margin-bottom: rem-calc(15);
    font-size: rem-calc(18);
    font-family: $font-family-sans-UniversLTStd-BoldCn;
  }
  .event_date{
    // margin-top: rem-calc(15);
    margin-bottom: rem-calc(15);
    // font-size: rem-calc(18);
    // font-family: $font-family-sans-UniversLTStd-BoldCn;
  }


}

a{
  &:focus{
    outline : none;
  }
}

.fill_link{
  position : absolute;
  width : 100%;
  height : 100%;
  top : 0;
  z-index: 1000;
}

h1{
  border-bottom: 1px solid $secondary-color;
}

.bottom-space{
  padding-bottom : rem-calc(30);
}


.stick{
  position: fixed;
  top: 125px;
  -webkit-transition: position 2s; /* Safari */
  transition: position 2s;
  max-width : 250px;
}


.event-info{
  p{
    margin-bottom : 0;
  }
  .event-type{
    font-size: rem-calc(14);
    text-transform: capitalize;
  }
  .event_name{
    margin-top: rem-calc(15);
    font-size: rem-calc(18);
    font-family: $font-family-sans-UniversLTStd-BoldCn;
  }
  .event_date{
    margin-bottom: rem-calc(15);
  }
}


// page-template-page-events

.page-template-page-events,
.single-jec-events {
  .featured-image {
    background-repeat: no-repeat;
    background-position: center;
    height: rem-calc(160);
    border-radius: rem-calc(200);
    width: rem-calc(160);
    position: relative;
    background-size: cover;
    // float: right;
    margin: auto;
  }

  @media #{$small-only}{
    .featured-image {
      background-repeat: no-repeat;
      background-position: center;
      height: rem-calc(110);
      border-radius: rem-calc(200);
      width: rem-calc(110);
      position: relative;
      background-size: cover;
      // float: right;
      margin: 0 auto 15px;
    }
  }
}
input[type=submit]{
  @include button;
  border-radius : $global-radius;
  padding : rem-calc(9 40 5);
}

textarea,
input[type=email],
input[type=text]{
  border-radius : $global-radius;
}

.text-justify{
  text-align: justify;
}
.tiny-text{
  font-size: 14px;
}

.center-grid{
  margin: auto;
}



.bg_white{
  background-color: $white;
}
.add_sace{
  padding: rem-calc(15);
}

.flex-f{
  @media #{$small-only}{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.space-right{
  @media #{$small-only}{
    // padding-right: 5px;
  }
}
.pull-top{
  margin-top: -30px;
}
.bg-gray{
  background-color: $steel;
}

.sacer{
  padding-bottom: rem-calc(20);
}
