.tab-bar {
  .change-ico{
    margin-top: 19px;
    color: #fff;
    @media #{$medium-only}{
      // margin-top: 19px;
    }
    @media #{$small-only}{
      margin-top: 10px;
    }
  }
  background : transparent !important;
}

.side-nav{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top:rem-calc(25);
  @media #{$large-up} {
    margin-top:0;
  }
  li {
    // padding-top : rem-calc(15);
    display: inline-block;
    list-style: none;
    margin : 0;
    a {
      padding: rem-calc(8 15);
      color: #fff !important;
      text-transform: uppercase;
      font-size: rem-calc(16);
      position: relative;
      top: rem-calc(17);
      color: #fff;
      // font-family: $font-family-sans-UniversLTStd-BoldCn;

      &:hover{
        color : lighten($secondary-color, 15%) !important;
      }
    }
      @media #{$small-only} {
        margin :0;
      }
      @media #{$medium-only} {
        margin :0;
      }
      &.current_page_item{
        a{
          // color : lighten($secondary-color, 15%) !important;
        }
      }
  }
}

.right-off-canvas-menu{
  // position:fixed;
  .side-nav{
    flex-direction: column;
    align-items: flex-end;
    li{
      display : block;
      a{
        color : $primary-color !important;
        font-family: $font-family-sans-UniversLTStd-BoldCn;
        background : none;
        font-size: rem-calc(16);
        position: initial;
        text-shadow: 0 0 2px #fff;
        &:hover{
            color : $secondary-color !important;
        }
      }
      &.current_page_item{
        a{
          // color : $secondary-color !important;
        }
      }
    }
  }
  // width: 100%;
  // position: fixed;
}

.nav-sticky{
  position : fixed;
  right: 17px;
  bottom: 15px;
  // background: rgba($secondary-color,.9);
  // padding: rem-calc(10 3 10 10);
  transition: left 1s;
  z-index: 100;
  color : #fff;
  // box-shadow: 1px 1px 10px #000;
  display : none;
  // width : 230px;
  @media #{$small-only}{
    display:block;
    // justify-content: flex-start;
    // align-items: center;
    // & > div:first-child{
    //   width : 250px;
    // }
  }
  ul{
    li{
      a{
        color : #fff !important;
        // font-size: 16px !important;
      }
      &.active{
        a{
          // font-size: 18px !important;
          // color : $primary-color !important;
          font-weight: 800;
          font-family: $font-family-sans-UniversLTStd-BoldCn;
        }
      }
    }
  }
  a{
    color : #fff;
  }
  .menu-nav{
    color: #fff;
    cursor: pointer;
  }
  .circle{
    background: rgba($steel,.9);
    border-radius: 33px;
    padding: 10px 12px;
    box-shadow: 0px 0px 2px #000;
  }
  .sticky-content{
    background: rgba($steel,.9);
    padding: rem-calc(10);
    // border-radius: rem-calc(8);
    box-shadow: 0px 0px 2px #000;
    margin-bottom: 20px;
  }
}

.move-left>.inner-wrap {
    -webkit-transform: translate3d(rem-calc(-276),0,0);
    -moz-transform: translate3d(rem-calc(-276),0,0);
    -ms-transform: translate(rem-calc(-276),0);
    -o-transform: translate3d(rem-calc(-276),0,0);
    transform: translate3d(rem-calc(-276),0,0);
}
