.orbit-container{
  // min-height : $min-height-md;
  min-height : rem-calc(400);
  @media #{$small-only} {
    min-height : 480px;
  }
  .img_slider{
    // min-height : $min-height-lg;
    background-repeat: no-repeat;
    background-position: center;
    // background-size: contain;


    @media #{$small-only} {
      min-height : 480px;
      background-size: cover;
    }
    @media #{$medium-up} {
      background-size: cover;
      min-height: $min-height-lg;
    }
  }
  .orbit-bullets-container{
    position: absolute;
    bottom: -12px;
    width: 100%;
    .orbit-bullets{
      li{
        border : 1px solid $steel;
      }
      // @media #{$small-only} {
      //   display : block;
      // }
    }

  }
  .orbit-next{
    // background: red;
    background: url('../../images/next-button.png') no-repeat center;
    span{
      border : 0px;
      // @include fa;
      // background: url('../../images/next-button.png')
    }
  }
  .orbit-prev{
    // background: red;
    background: url('../../images/prev-button.png') no-repeat center;
    span{
      border : 0px;
      // @include fa;
      // background: url('../../images/next-button.png')
    }
  }
}

.slider-caption{
  color : $secondary-color;
  min-height: $min-height-lg;
  // display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  // display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  // display: -ms-flexbox;      /* TWEENER - IE 10 */
  // display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  line-height: 54px;
  font-family: $font-family-sans-Univers-LT-49-Light-Ultra-Condensed;
  @media #{$small-only} {
    font-size: 30px;
    line-height: 33px;
  }
  @media #{$medium-only} {
    font-size: 40px;
    line-height: 33px;
  }
}

.caption {
  position: relative;
  bottom: -151px;
  text-align: center;
  font-size: 12px;
  color: #000;
  background: rgba($dark-smoke,.6);
  height: 74px;
  p{
    margin : 0;
    color : #000;
    line-height: 17px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: $font-family-sans-UniversLTStd-UltraCn;

    &:first-child{
      padding-top: 5px;
    }
  }
}
