.tabs{
  li{
    @media #{$medium-up}{
      display: block;
      float : none !important;
    }
    @media #{$small-only}{
      margin-right : rem-calc(15);
    }
    a{
      // font-family: $font-family-sans-UniversLTStd-BoldCn;
      font-size: rem-calc(16);
      white-space: nowrap;
    }
    &.active{
      a{
        // font-size: rem-calc(21);
        font-weight: 800;
        font-family: $font-family-sans-UniversLTStd-BoldCn;
      }

    }
  }
}

.tab_list{
  list-style: none;
  margin: 0;
}
