@font-face {
  font-family: 'Ultra Condensed';
  src: url('../../fonts/lightcondense.ttf');
}

@font-face {
  font-family: 'Universal Ultra Condensed';
  src: url('../../fonts/uucondense.otf');
}

@font-face {
  font-family: 'Bold Universal Condensed';
  src: url('../../fonts/boldcondense.otf');
}

@font-face {
  font-family: 'Light Universal Condensed';
  src: url('../../fonts/ulightcondense.otf');
}
